*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';font-size: 18px;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(assets/banner.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #a34d3e;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Roboto';font-size: 22px;
    margin: 0px;
    color: #FFF;
}
h2{
    font-size: 26px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
}
p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 10px 0;
    text-align: center;
    align-self: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    color: ##a34d3e;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 60px;
}
span{
    background: #fff;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
color{
    color: #a34d3e;
}
.column {
    float: left;
    position: relative;
    width: 31%;
    height: 58%;
    padding: 10px;
    margin: 16px;
    color: #fff;
    box-sizing: border-box;
    border: solid;
    background-color: rgba(0,0,0,0.25);
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
a{
    color: azure;
}